:8000 {
    handle /static/* {
        root * /app/staticfiles
        uri strip_prefix /static

        file_server
    }

    # API Django
    handle /media/* {
        root * /app/media
        uri strip_prefix /media

        file_server
    }

    handle {
        reverse_proxy back:8000
    }

    log {
        output stdout
    }
}

:3000 {
    handle /api/* {
        reverse_proxy back:8000
    }

    handle /ws* {
        reverse_proxy back:8000
    }

    handle /cdn/* {
        uri strip_prefix /cdn
        reverse_proxy https://unpkg.com {
            header_up Host unpkg.com
        }
    }

    handle {
        root * /app/front
        try_files {path} /index.html
        file_server
    }

    log {
        output stdout
    }
}